*{
    margin:0px;
    padding:0px;
}
/* Shared styles */
.display-flex{
    display: flex;
}




/* Header styles */
header{
    background-color: #1A0B2E;
    width: 100%;
    max-width: 1600px;
}

/* Navbar Styles */
.nav-logo{
    font-size: 3rem;
    font-weight: 700;
}
#wave{
    background:linear-gradient(180deg,#9100F8 0%,#FB09B4 50%,#F7E93F 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color:transparent;

}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding:16px 200px;
    
    color:#FFFFFF;
    
    padding-bottom: 30px;
    
    
}
.menu-links{
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap:32px;

}
.menu-links a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.nav-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    
    border-radius:50rem;
    color:#FFFFFF;
    padding:13px 16px;
    background:linear-gradient(45deg,#F7E93F 0%,#F8966A 20%,#FB09B4 55%,#B403E1 100%);
}