*{
    margin:0px;
    padding:0px;
}
/* Shared styles */

body{
   max-width: 1600px;
   
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  
}



/* Header styles */
header{
    background-color: #1A0B2E;
    width: 100%;
    max-width: 1600px;
}

/* Navbar Styles */
.nav-logo{
    font-size: 3rem;
    font-weight: 700;
}
#wave{
    background:linear-gradient(180deg,#9100F8 0%,#FB09B4 50%,#F7E93F 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color:transparent;

}
.navbar{
   display:flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 200px;
    
    color:#FFFFFF;
    border-bottom:1px solid #412567;
    
    
    
    
}
.menu-links{
   display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap:32px;

}
.menu-links a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.nav-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    
    border-radius:50rem;
    color:#FFFFFF;
    padding:13px 16px;
    background:linear-gradient(45deg,#F7E93F 0%,#F8966A 20%,#FB09B4 55%,#B403E1 100%);
}
.hamburger{
   display: none;
}
/* Banner section styles */
.banner{
    position: relative;
    background-image: url("/assets/hero-bg.png");
    width:100%;
    background-size: cover;
    max-width: 1600px;
    min-height: 90vh;
}
.banner-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}
#new{
   position: relative;
   color:#1A0B2E;
   background-color: #00FF88;
   width: 55px;
   font-size: 1.1rem;
   font-weight: 700;
   text-align: center;
   border-radius: 100rem;
   padding: 8px 16px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
   transform:translate(860px,150px);
   z-index: 2;
   
}
.img-container{
      margin-top:101px;

    
    

    position: relative;
    width:350px;
    height:350px;

    
    
    
    
    

}
#hero-circle{
    display: block;
    width: 100%;
    height:100%;
    transition: transform 0.3s ease;
}
#hero-circle:hover{transform: scale(1.20); }
#microphone{
    position:absolute;
    top:50%;
    left:50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    width:20%;
}
.banner-text-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    text-align:center;
}
.banner-title{
    font-size:3.8rem;
    font-weight: 800;
    color:#ffffff;
}
.banner-description{
    font-size:1rem;
    color:rgba(255,255,255, .6);
}
.button-container{
   display: flex;
   gap:8px;
   margin-top: 24px;
   padding-bottom: 101px;;
   
}
#banner-button{
   display: flex;
   gap:8px;
   justify-content: center;
    align-items: center;
    cursor:pointer;
    padding:12px 20px;
    border-radius:10000rem;
    color:#FFFFFF;
    padding:13px 16px;
    background:linear-gradient(45deg,#F7E93F 0%,#F8966A 20%,#FB09B4 55%,#B403E1 100%);
    
    animation: pulse 2s infinite ease-in-out;
      transition: all 0.3s ease;

}
@keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.08); } 
            100% { transform: scale(1); }}

#subscribe-button{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:8px;
   color:#00FF88;
   padding:12px 20px;
   border-radius: 100rem;
   border:1px solid #00FF88;
   background: transparent;
   max-height: 44px;
   cursor: pointer;


        }
        #subscribe-button:hover {
            animation: none; 
            transform: scale(1.1); 
            background: #ded0ab;
            box-shadow: 0 0 20px rgba(234, 134, 88, 0.6); 
        }
        #subscribe-button:active{
         cursor:progress;
        }
/* About Info styles */
.about-container{
    
    
    background-color: #1A0B2E;
    max-width: 1600px;
    color:#FFFFFF;
    text-align: center;
    padding:50px 200px 120px 200px;
    max-width: 1600px;
    
}
.about-title{
    font-size: 3rem;
    font-weight: 700;
}
.about-description{
    font-size: 1rem;
    line-height:1.5;
    color:rgba(255,255,255, .6);
    
    
}
.about-container hr{
    margin:80px auto;
    
    border:1px solid rgba(255,255,255, .1);
    width:75%;
    
}
.about-info{
   display: flex;
    justify-content: space-between;
    align-items: center;
    gap:80px;
    
}
.about-number, .about-episodes, .about-ratings, .about-experts{
   display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap:16px;
}
.about-h3{
    font-size: 3rem;
    color:#00FF88;
    font-weight: 900;
}
 .about-paragraph{
    font-size: 1.25rem;
    font-weight: 400;
    color:rgba(255,255,255, .6);
 }
 /* Why choose techwave(features ) Section Styles*/

 .features-container{
    background-color: #230E3D;
    color:#FFFFFF;
    padding:120px 200px;
    text-align: center;
    max-width: 1600px;

 }
 #features-title{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 40px;
 }
 .features{
    display: grid;
    gap:30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    max-width: 1200px;
 }
 .audio-quality{
    grid-row: span 2;
    display: flex;
    gap:16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    background-color: rgba(53, 17, 101,0.4);
    border-radius: 40px;
    padding: 40px;

    
 }
 .mobile-friendly{
    grid-column: span 2;
     display: flex;
    gap:16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    background-color: rgba(53, 17, 101,0.4);
    border-radius: 40px;
    padding: 40px;
 }
 .global-community{
    grid-column: span 2;
     display: flex;
    gap:16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    background-color: rgba(53, 17, 101,0.4);
    border-radius: 40px;
    padding: 40px;
 }
 .exclusive-interview{
    grid-column: span 2;
     display: flex;
    gap:16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    background-color: rgba(53, 17, 101,0.4);
    border-radius: 40px;
    padding: 40px;
 }
 .exclusive-interview img{
    height: 40px;
    width:40px;
 }
 .rich-resources{
    
     display: flex;
    gap:16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    background-color: rgba(53, 17, 101,0.4);
    border-radius: 40px;
    padding: 40px;
 }
 .feature-subtitle{
    font-size: 1.5rem;
    font-weight: 700;
 }
 .features-description{
    font-size: 1rem;
    color:rgba(255,255,255, .6);
 }

 /* Feature episodes style  */

 .fetured-episodes-container{
    background-color: #1A0B2E;
    padding:120px 200px;
    max-width: 1600px;
 }
 .fetured-episodes-title{
    font-size: 3rem;
    margin-bottom:40px;
    font-weight: 800;
    color:#FFFFFF;
    text-align: center;
 }
 .episodes{
    display: flex;
    gap:30px;
    justify-content: space-between;
    align-items: center;
    color:#FFFFFF;
    max-width: 1200px;
 }
 .feature-video{
    text-align: left;
    max-width:380px;
    max-height: 440px;
    border-radius:24px;
    
    background-color: #250D44;
    border:1px solid #250D44;
 }
 .feature-video h4{
    font-size: 1.5rem;
    font-weight: 700;
    padding:24px 24px 12px 24px;
 }
 .feature-video p{
    color:rgba(255,255,255, .6);
    padding: 0px 24px 12px 24px;
 }
 .color-green{
    display: flex;
    gap:6px;
    color:#00FF88;
    font-weight: 600;
    padding:0px 24px 24px 24px;
 }


 /* Meet the Host section */
 .meet-the-host-container{
    background-color: #1A0B2E;
    padding:0px 200px 120px 200px;
    max-width: 1600px;
 }

 .meet-the-host-title{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    color:#FFFFFF;
 }
 .about-host-container{
    display: flex;
    align-items: center;
    gap:24px;
    background-color: #351165;
    border-radius: 40px;
    padding:40px;
 }
 .about-host{
    display:flex;
    flex-direction: column;
    gap:16px;
    align-items: flex-start;
    justify-items: center;
 }
 .about-host h3{
    font-size:2rem;
    font-weight: 700;
    color:#FFFFFF;
 }
 .about-host p{
    font-size: 1rem;
    color:rgba(255,255,255, .6);
 }
 .host-social{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap:8px;
    
    
    
    
 }
  .host-social a{
    height: 40px;
    width:40px;
     border:1px solid #533C72;
     border-radius: 50%;

   
  }
 .host-social img{
    
   padding:10px;
     
   
 }
 /* Footer section */
 
 footer{
    background-image:url("../assets/footer-bg.png");
    
    background-size: 100% 100%;
    max-width: 1600px;
    min-height: 300px;
    color:#ffffff;
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    
    
    justify-content: center;
 }
 .footer-logo{
   text-align: center;
   font-size: 4rem;
   margin-top:0px;
   
   font-weight: 800;
 }
 #footer-wave{
   background:linear-gradient(180deg,#9100F8 0%,#FB09B4 50%,#F7E93F 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color:transparent;

 }
 .footer-social{
   display: flex;
   
   align-items: center;
   justify-content: center;
   list-style: none;
   gap:40px;
   
 }
 .footer-social li{
   display:flex;
   gap:4px;
   color:rgba(255,255,255, .6);
 }
 #copyright-text{
   margin-top:32px;
   color:rgba(255,255,255, .6);


 }


 /* Responsive design */

 @media screen and  (max-width:576px) {
   .navbar{
      padding:0 10px;
   }

   .menu-links{
      display:none;
      
   }
   .nav-btn{
      display:none;
   }
   .hamburger{
      display:block;
   }
   
 
     .banner {
    min-height: 65vh;
    background-size: contain;      
    background-position: 25% 35%;
    padding:0px;
    background-repeat:no-repeat;
    margin-top:0px;
  }
.banner-title{
   font-size: 2.5rem;
}


.img-container{
   width: 180px;
   height:180px;
   
}
    .features-container, .fetured-episodes-container, .meet-the-host-container,.about-container,.footer-container{
      padding:20px;
    }
    #features-title , .fetured-episodes-title, .meet-the-host-title{
      font-size: 2rem;
      padding-bottom:0px;
      margin-bottom: 0px;

    }
   .features, .episodes, .about-host-container,.about-container,.footer-container,.banner-contents{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      gap:16px;
      padding:16px 24px;
   }
   .about-info,.footer-social{
      display:grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      justify-items: center;
   }
   .about-host {
      align-items: center;
   }
   .feature-video{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: left;
      gap:8px;
   }

   #new{
   position: relative;
   color:#1A0B2E;
   background-color: #00FF88;
   width: 50px;
   height: 20px;
   font-size: 1rem;
   font-weight: 700;
   text-align: center;
   border-radius: 100rem;
   padding: 8px 16px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
   transform:translate(225px,150px);
   z-index: 2;
   
}
 }